<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attendance System</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <img id="video_feed" width="100%" src="{{ url_for('video_feed') }}">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js
"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('frame', function(data) {
            document.getElementById('video_feed').src = 'data:image/jpeg;base64,' + data.frame;
        });
    </script>
</body>
</html>